@model TransactionMicroservice.Models.Deposit

@{
    ViewData["Title"] = "Withdraw";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Withdraw</h1>

<h4>@ViewData["message"]</h4>
<hr />
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4">
            <form asp-action="Withdraw">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccountId" class="control-label"></label>
                    <input asp-for="AccountId" class="form-control" />
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Withdraw" class="btn btn-lg btn-dark" />
                </div>
            </form>
        </div>
    </div>

</div>

