<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
                /*
            DEMO STYLE
        */


                body {
                    font-family: 'Poppins', sans-serif;
                    background: #fafafa;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.1em;
                    font-weight: 300;
                    line-height: 1.7em;
                    color: #999;
                }

                a,
                a:hover,
                a:focus {
                    color: inherit;
                    text-decoration: none;
                    transition: all 0.3s;
                }

                .navbar {
                    padding: 15px 10px;
                    background: #fff;
                    border: none;
                    border-radius: 0;
                    margin-bottom: 40px;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                }

                .navbar-btn {
                    box-shadow: none;
                    outline: none !important;
                    border: none;
                }

                .line {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ddd;
                    margin: 40px 0;
                }

                /* ---------------------------------------------------
            SIDEBAR STYLE
        ----------------------------------------------------- */

                .wrapper {
                    display: flex;
                    width: 100%;
                    align-items: stretch;
                }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #292a2c;
            color: #fff;
            transition: all 0.3s;
        }

                    #sidebar.active {
                        margin-left: -250px;
                    }

                    #sidebar .sidebar-header {
                        padding: 20px;
                        background: #6d7fcc;
                    }

                    #sidebar ul.components {
                        padding: 20px 0;
                        border-bottom: 1px solid #47748b;
                    }

                    #sidebar ul p {
                        color: #fff;
                        padding: 10px;
                    }

                    #sidebar ul li a {
                        padding: 10px;
                        font-size: 1.1em;
                        display: block;
                    }

                        #sidebar ul li a:hover {
                            color: #7386D5;
                            background: #fff;
                        }

                    #sidebar ul li.active > a,
                    a[aria-expanded="true"] {
                        color: #fff;
                        background: #6d7fcc;
                    }

                a[data-toggle="collapse"] {
                    position: relative;
                }

                .dropdown-toggle::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                }

                ul ul a {
                    font-size: 0.9em !important;
                    padding-left: 30px !important;
                    background: #6d7fcc;
                }

                ul.CTAs {
                    padding: 20px;
                }

                    ul.CTAs a {
                        text-align: center;
                        font-size: 0.9em !important;
                        display: block;
                        border-radius: 5px;
                        margin-bottom: 5px;
                    }

                a.download {
                    background: #fff;
                    color: #7386D5;
                }

                a.article,
                a.article:hover {
                    background: #6d7fcc !important;
                    color: #fff !important;
                }
        .closeBtn {
            position: relative;
            padding: 0;
            top: -1rem;
            width: 30px;
            height: 30px;
            left: -1.2rem;
            border-radius: 50%;
        }
        /* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */
        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <nav class="sticky-top" id="sidebar">
            <div class="sidebar-header">
                <h3>Hello, Admin</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Retail Banking Sysytem</p>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Index">All Accounts</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="CreateCustomerAccount"  asp-action="Index">Create Account</a>
                </li>
                <li>

                <li>
                    <a id="abc" onclick="searchAcc()">Display Account</a>
                    <div style="display:none; position:relative; top:0.5rem; bottom:0.5rem" id="searchbyAcid">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by Account ID">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a onclick="searchCustomer()">Display Customer</a>

                    <div style="display:none; position:relative; top:0.5rem; bottom:0.5rem" id="searchbyCust">
                        <form method="post" asp-route-CustomerId="9" asp-action="GetCustomerAccountDetails">
                            <div class="input-group">
                                <input type="text" class="form-control" name="CustomerId" placeholder="Search by Customer ID">
                                
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                     
                    </div>
                </li>

                <li>
                    <a asp-area="" asp-controller="TransactionView" asp-action="Deposit">Deposit</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="TransactionView" asp-action="Withdraw">Withdraw</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="TransactionView" asp-action="Transfer">Transfer</a>
                </li>


            </ul>
            


        </nav>

        <!-- Page Content  -->
        <div id="content">
            <button type="button" id="sidebarCollapse" class="btn btn-dark closeBtn">
                <i class="fa fa-times"></i>
            
            </button>
          
            @RenderBody()

        </div>
        </div>

       
       
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <script>
        function searchAcc() {

            var b = document.getElementById("searchbyAcid");
            b.style.display = "none";
            if ( b.style.display == "block") {
                b.style.display = 'none';
            }
            else if ( b.style.display == "none") {
                b.style.display = "block";
            }
        }

        function searchCustomer() {
            var b = document.getElementById("searchbyCust");
            b.style.display = "none";
            if (b.style.display == "block") {
                b.style.display = 'none';
            }
            else if (b.style.display == "none") {
                b.style.display = "block";
            }
        }
    </script>
</body>
   
</html>
